<div class="header_buttons">
    <a href="javascript:history.back()" class="back_button">back</a>
    <a href="#/" class="home_button">home</a>
</div><div class="info_wrapper">
    <div class="autors">
        <h3>Autores</h3>
        <p class="autor">Dra Carmen Pilar Simeón</p>
        <p class="autor">Dr Alfredo Guillén del Castillo</p>
        <p class="autor last">Dr Vicent Fonollosa Pla</p>
        <p>UNIDAD DE ENFERMEDADES AUTOINMUNES SISTÉMICAS. Servicio de Medicina Interna. Hospital Vall d'Hebron. Barcelona.</p>
    </div>
    <!--
    <h3 class="developed_by"> 
        Desarrolado por<img src="img/marketinred.png"/></h3><h3 class="colaboration"> 
        Con la colaboración de <img src="img/actelion.png"/>
    </h3>
    -->
    <div class="references">
        <h3>Referencias:</h3>
        <p>Criterios de Clasificación de la Esclerosis Sistémica 2013 ACR/EULAR: Van den Hoogen F, Khanna D, Fransen J et al. Ann Rheum Dis 2013; 72:1747-1755. Arthritis Rheum 2013; 65 (11):2737-47.</p>
        <p>Rodnan: Clements P, Lachenbruch P, Siebold J et al. Inter and intraobserver variability of total skin thickness score (modified Rodnan TSS) in systemic sclerosis. J Rheumatol 1995; 22(7):1281-5.</p>
        <p>Trapiella-Martínez L, Díaz-López JB, Caminal-Montero L, Tolosa-Vilella C, Guillén-Del
            Castillo A, Colunga-Argüelles D and RESCLE Investigators, on Behalf of the Autoimmune
            Diseases Study Group (GEAS), Spanish Society of Internal Medicine (SEMI). Very early and
            early systemic sclerosis in the Spanish scleroderma Registry (RESCLE) cohort. Autoimmun
            Rev. 2017;16(8):796-802.</p>

        <p>Subtipos: <br>
            1. LeRoy BC, Medsger TA Jr. Criteria for the Classification of Early Systemic Sclerosis. J Rheumatol 2001; 28: 1573-1576. <br>
            2. Poormoghim H, Lucas M, Fertig N, Medsger TA. Systemic sclerosis sine scleroderma. Arthritis Rheum 2000; 43: 444-51. <br>
            3. Matucci-Cerinic M, Bellando-Randone S, Lepri G et al.Very early versus early disease: the evolving definition of the 'many faces' of systemic sclerosis. Ann Rheum Dis. 2013; 72(3):319-21.<br> 
            4. Bellando-Randone S, Matucci-Cerinic M Very Early Systemic Sclerosis and Pre-systemic Sclerosis: Definition, Recognition, Clinical Relevance and Future Directions. Curr Rheumatol Rep. 2017 Sep 18;19(10):65.</p>
        <p class="date">ACTUALIZADO A FECHA MARZO-2019</p>
    </div>
    <div class="separator">
        <img src="img/separator.png"/>
    </div>
    <div class="use_conditions">
        <p>La propiedad se exime de cualquier responsabilidad en caso de errores u omisiones contenidos en este programa y se reserva el derecho a modificarlo.</p>
        <p>No se ofrece ninguna garantía para la información proporcionada por este sitio y no aceptamos ninguna responsabilidad por daños derivados del uso indebido de contenidos e informaciones presentes en esta aplicación.</p>
        <p>En particular, la información en este sitio no constituye asesoramiento médico, y por lo tanto no se puede utilizar para tomar decisiones sin antes consultar a un médico con el fin de evaluar la pertinencia y exhaustividad con respecto a un caso específico.</p>
    </div>
</div>