ul.main_menu
  li
    a(href="#/esclerosis", class="main_button") ACR/EULAR 2013
  li
    a(href="#/rodnan", class="main_button") RODNANm
  li
    a(href="#/subtypes", class="main_button") SUBTIPOS
  li
    a(href="#/info", class="main_button") INFORMACIÓN
