div(class='popup', ng-show="pop_up==='aan'")
  h3 ANAs
  p Anticuerpos antinucleares.
  span(class="close",ng-click="setPopup('')") x 

div(class='popup', ng-show="pop_up==='aca'")
  h3 ACA
  p Anticuerpos anticentrómero.
  span(class="close",ng-click="setPopup('')") x

div(class='popup', ng-show="pop_up==='ata'")
  h3 ATA
  p Anticuerpos anti-Topoisomerasa I o Scl-70.
  span(class="close",ng-click="setPopup('')") x
  
div(class='popup', ng-show="pop_up==='rna'")
  h3 RNA pol III
  p RNA polimerasa III.
  span(class="close",ng-click="setPopup('')") x

div(class='popup', ng-show="pop_up==='rx'")
  h3 Rx
  p Radiografía simple.
  span(class="close",ng-click="setPopup('')") x
  
div(class='popup', ng-show="pop_up==='tc'")
  h3 TACAR
  p Tomografía computarizada de alta resolución.
  span(class="close",ng-click="setPopup('')") x

div(class='popup', ng-show="pop_up==='ccd'")
  h3 CCD
  p Cateterismo cardíaco derceho.
  span(class="close",ng-click="setPopup('')") x

div(class='popup extra_large_popup', ng-show="pop_up==='epi'")
  h3 EPI
  p Fibrosis pulmonar visualizada con tomografía computarizada de alta resolución o con radiografía de tórax, más pronunciada en las bases de los pulmones, o auscultación de crepitantes con sonido «Velcro», que no sean debidos a otra causa como insuficiencia cardíaca.
  span(class="close",ng-click="setPopup('')") x

div(class='popup large_popup', ng-show="pop_up==='hap'")
  h3 HAP
  p Hipertensión arterial pulmonar diagnosticada mediante cateterismo cardíaco derecho, según la definición estándar.
  span(class="close",ng-click="setPopup('')") x

  
div(class='popup', ng-show="pop_up==='ifp'")
  h3 IFP
  p Interfalángicas proximales
  span(class="close",ng-click="setPopup('')") x

div(class='popup', ng-show="pop_up==='mcf'")
  h3 MCF
  p Metacarpofalángicas.
  span(class="close",ng-click="setPopup('')") x


div(class='popup large_popup', ng-show="pop_up==='endurecimiento'")
  h3 Endurecimiento de la piel
  p Engrosamiento o endurecimiento de la piel no causado por la cicatrización de una lesión, traumatismo, etc.
  span(class="close",ng-click="setPopup('')") x  



div(class='popup extra_large_popup', ng-show="pop_up==='puffy'")
  h3 Dedos en salchicha o "puffy fingers"
  p Inflamación de los dedos, aumento difuso de la masa de tejidos blandos, generalmente sin fóvea y extendiéndose más allá de los límites normales de la cápsula articular. Los dedos normales son más estrechos distalmente, con tejidos que contornean el hueso del dedo y las estructuras articulares. La inflamación de los dedos oblitera estos contornos. No es debido a una dactilitis inflamatoria.
  span(class="close",ng-click="setPopup('')") x

div(class='popup extra_large_popup', ng-show="pop_up==='ulceras'")
  h3 Úlceras en las puntas de los dedos o cicatrices puntiformes "en mordedura de rata" o "pitting"
  p Úlceras o cicatrices distales a la articulación interfalángica proximal o en esta articulación no debidas a traumatismo. Las cicatrices "en mordedura de rata" o "pitting" son áreas deprimidas en la punta de los dedos debidas a la isquemia y no a un traumatismo o una causa exógena.
  span(class="close",ng-click="setPopup('')") x

div(class='popup', ng-show="pop_up==='ifp'")
  h3 IFP
  p interfalángicas proximales
  
  span(class="close",ng-click="setPopup('')") x

div(class='popup extra_large_popup', ng-show="pop_up==='telangiectasias'")
  h3 Telangiectasias
  p Las telangiectasias son máculas formadas por vasos sanguíneos dilatados superficiales visibles, se colapsan cuando se presionan y se llenan lentamente cuando se deja de presionar. Las telangiectasias con un patrón de esclerodermia son redondas, bien delimitadas, se localizan en las manos, los labios y pueden ser grandes. Se distinguen de las arañas vasculares que tienen una arteriola central, vasos superficiales dilatados y en que se llenan rápidamente.
  
  span(class="close",ng-click="setPopup('')") x

div(class='popup large_popup', ng-show="pop_up==='capilaroscopicas'")
  h3 Patrón capilaroscópico alterado compatible con esclerosis sistémica
  p Dilatación y/o pérdida de capilares con o sin hemorragias pericapilares en el lecho periungueal. Se puede ver también en la cutícula.  
  span(class="close",ng-click="setPopup('')") x

div(class='popup large_popup', ng-show="pop_up==='raynaud'")
  h3 Fenómeno de Raynaud
  p Explicado por el enfermo o constatado por el médico, con al menos dos fases de cambio de color en uno o varios dedos de las manos o de los pies. Consiste en palidez, cianosis y/o hiperemia reactiva en respuesta a la exposición al frío o a emociones, generalmente una de las fases es la palidez.
  
  span(class="close",ng-click="setPopup('')") x

div(class='popup extra_large_popup', ng-show="pop_up==='anticuerpos'")
  h3 Auto-anticuerpos asociados con esclerosis sistémica
  p Anticuerpos anticentrómero o patrón centromérico visualizado en la prueba de anticuerpos antinucleares, anticuerpos anti-tipoisomerasa I (también conocidos como anticuerpos anti-Scl-70) o anticuerpos anti-RNA polimerasa III. Positividad acorde con los estándares de laboratorio locales.
  
  span(class="close",ng-click="setPopup('')") x
  

div(class='popup info_large_popup', ng-show="pop_up==='info'")
  h3 Información
  p *Estos criterios son aplicables en cualquier paciente considerado para incluirlo en estudios sobre Esclerosis Sistémica.
  p ** La puntuación total está determinada por la suma de la puntuación más alta de cada categoría. Pacientes con un total de ≥ 9 son casificados de Esclerosis Sistémica definida.
  p 
    strong Criterios de exclusión:
    |  Los criterios no son aplicables en los pacientes con esclerosis cutánea sin afectar a dedos ni en los pacientes que presentan un síndrome esclerodermiforme que pueda explicar mejor sus manifestaciones (ejemplo: fibrosis nefrogénica esclerosante, morfea generalizada, fascitis eosinofílica, escleredema, escleromixedema, eritromelalgia, porfiria, liquen escleroso, enfermedad de injerto contra huésped, quiroartropatía diabética).
  
  span(class="close",ng-click="setPopup('')") x
  
  
