div(class='rodnan_popup', ng-show="pop_up==='cara'")
  h3 CARA
  p(class="rodnan_form zero", ng-click="set_rodnan_input(0,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(0,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(0,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(0,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='brazo_d'")
  h3 BRAZO DERECHO
  p(class="rodnan_form zero", ng-click="set_rodnan_input(1,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(1,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(1,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(1,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='torax_anterior'")
  h3 TORAX ANTERIOR
  p(class="rodnan_form zero", ng-click="set_rodnan_input(2,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(2,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(2,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(2,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='brazo_i'")
  h3 BRAZO IZQUIERDO
  p(class="rodnan_form zero", ng-click="set_rodnan_input(3,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(3,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(3,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(3,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar


div(class='rodnan_popup', ng-show="pop_up==='antebrazo_d'")
  h3 ANTEBRAZO DERECHO
  p(class="rodnan_form zero", ng-click="set_rodnan_input(4,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(4,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(4,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(4,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='abdomen'")
  h3 ABDOMEN
  p(class="rodnan_form zero", ng-click="set_rodnan_input(5,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(5,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(5,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(5,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar


div(class='rodnan_popup', ng-show="pop_up==='antebrazo_i'")
  h3 ANTEBRAZO IZQUIERDO
  p(class="rodnan_form zero", ng-click="set_rodnan_input(6,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(6,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(6,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(6,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='dorso_mano_d'")
  h3 DORSO DE MANO DERECHA
  p(class="rodnan_form zero", ng-click="set_rodnan_input(7,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(7,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(7,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(7,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='dorso_mano_i'")
  h3 DORSO DE MANO IZQUIERDA
  p(class="rodnan_form zero", ng-click="set_rodnan_input(8,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(8,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(8,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(8,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='dedos_mano_d'")
  h3 DEDOS MANO DERECHA
  p(class="rodnan_form zero", ng-click="set_rodnan_input(9,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(9,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(9,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(9,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='dedos_mano_i'")
  h3 DEDOS MANO IZQUIERDA
  p(class="rodnan_form zero", ng-click="set_rodnan_input(10,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(10,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(10,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(10,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='muslo_d'")
  h3 MUSLO DERECHO
  p(class="rodnan_form zero", ng-click="set_rodnan_input(11,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(11,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(11,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(11,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='muslo_i'")
  h3 MUSLO IZQUIERDO
  p(class="rodnan_form zero", ng-click="set_rodnan_input(12,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(12,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(12,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(12,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='pierna_d'")
  h3 PIERNA DERECHA
  p(class="rodnan_form zero", ng-click="set_rodnan_input(13,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(13,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(13,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(13,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='pierna_i'")
  h3 PIERNA IZQUIERDA
  p(class="rodnan_form zero", ng-click="set_rodnan_input(14,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(14,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(14,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(14,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar

div(class='rodnan_popup', ng-show="pop_up==='dorso_pie_d'")
  h3 DORSO PIE DERECHO
  p(class="rodnan_form zero", ng-click="set_rodnan_input(15,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(15,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(15,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(15,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar


div(class='rodnan_popup', ng-show="pop_up==='dorso_pie_i'")
  h3 DORSO PIE IZQUIERDO
  p(class="rodnan_form zero", ng-click="set_rodnan_input(16,0)") 0
  p(class="rodnan_form one", ng-click="set_rodnan_input(16,1)") 1
  p(class="rodnan_form two", ng-click="set_rodnan_input(16,2)") 2
  p(class="rodnan_form three", ng-click="set_rodnan_input(16,3)") 3
  p(class="cancel",ng-click="setPopup('')") Cancelar


div(class='rodnan_popup rodnan_popup_info', ng-show="pop_up==='rodnan_info'")
  h3 ESCALA DE PUNTUACIÓN
  p 0 = piel normal
  p 1 = endurecimiento leve
  p 2 = endurecimiento moderado 
  p 
    | 3 = endurecimiento grave 
    br
    | (no puedes pellizcar la piel)
  span(class="close",ng-click="setPopup('')") x
