.header_buttons
  a(href="javascript:history.back()" class="back_button") back
  
  a(href="#/" class="home_button") home

.subtypes_wrapper
  h1.blue TIPO DE ESCLERODERMIA
  .separator
    img(src="img/separator.png")
  
  p.subtypes
    span Limitada: 
    | Esclerosis distal a codos y rodillas incluyendo esclerosis en cara/cuello.
  p.subtypes
    span Difusa: 
    | Esclerosis proximal y distal a codos y rodillas.
  p.subtypes
    span Sin esclerodermia: 
    | Pacientes sin esclerosis cutánea pero que tengan las 3 manifestaciones siguientes: 1) Fenómeno de Raynaud o equivalentes ("pitting" o úlceras en pulpejos o alteraciones capilaroscópicas) 2) ANAs positivos 3) al menos una de las siguientes manifestaciones viscerales: hipomotilidad esofágica distal, hipomotilidad intestino delgado, EPI, HAP, afección cardíaca típica de esclerodermia o crisis renal esclerodérmica. No tienen conectivopatía definida u otra enfermedad que cause 1) 2) o 3).
  p.subtypes
    span Inicial: 
    | Pacientes con Preesclerodermia con afección esofágica mínima (sólo RGE o EEI hipotenso) o DLCO < 80% sin EPI ni HAP ni otras afecciones, o disfunción diastólica sin otros motivos (HTA, edad) o presencia de: úlceras digitales o pitting, telangiectasias o calcinosis o artritis.
  p.subtypes 
    span Preesclerodermia: 
    | Fenómeno de Raynaud más alteración capilaroscópica compatible con esclerodermia (pérdida y/o dilatación capilar); y/o presencia de autoanticuerpos específicos de esclerodermia (ACA, ATA, RNA pol III, Pm-Scl, Th/To, U1RNP, Fibrilarina (U3RNP) o ANAs con patrón de IFI nucleolar que no tengan ningún Ac específico previo). No esclerosis cutánea ni afección visceral incipiente (tras realizar pruebas complementarias: PFR con DLCO, Ecocardiograma y estudio esofágico) ni otras manifestaciones sugestivas de esclerodermia: úlceras digitales o pitting, telangiectasias, calcinosis o artritis.
